{% load static %}
<!--footer-start-->
    <section id="footer">
        <div class="footer-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-about">
                            <h2>Future In</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Earum aliquam accusamus magnam, laborum nam ut neque molestiae fugit beatae. 
                            </p>
                            <div class="footer-contact">
                                <span><i class="fa fa-phone"></i>&nbsp; +977 9807222904</span>
                                <span><i class="fa fa-envelope"></i>&nbsp; sonygurung275@gmail.com</span>
                            </div>
                            <div class="footer-social-link">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-link">
                            <h2>Quick Link</h2>
                            <br>
                            <ul>
                                <a href="#"><li>Product</li></a>
                                <a href="#"><li>Blog</li></a>
                                <a href="#"><li>services</li></a>
                                <a href="#"><li>Contact Us</li></a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-contact-form">
                            <form action="#" method="post">
                                <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...." required><br><br>
                                <textarea name="message" class="text-input contact-input" placeholder="Your message..." required></textarea><br><br>
                                <button type="submit" class="btn btn-big">
                                    <i class="fa fa-envelope"></i>
                                    Send
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy-right">
            Copyright ©2020 All rights reserved  by Future In
        </div>
    </section>
    <!--footer-end-->