*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    position: sticky;
    top: 0px;
    padding-top: 0px;
    z-index: 10;
}
.navbar-brand img{
    height: 50px;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li span{
    color: #007bff !important;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
.navbar-nav li .create{
    background-color: #accdf0;
}
#nav-bar ul li a:hover{
    color: #007bff !important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none !important;
}
.nav-link{
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}
/*------------slider-----------*/
#slider{
    width: 100%;
}
#slider img{
    width: 100%;
    height: 410px;
}
#slider .carousel-caption{
    top: 65%;
    transform: translateY(-10%);
    bottom: initial !important;
}
#slider .carousel-caption h4{
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #000;
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
}
#slider .carousel-caption .btnbtn{
    color: #007bff;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
    background: #fff;
    border: 2.5px solid #007bff;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
#slider .carousel-caption .btnbtn:hover{
    background: #007bff;
    color: #fff;
    border: 2.5px solid #fff;
    transition-duration: 2s;
}
#slider .card{
    border: 2.5px solid #007bff;
}
#slider .card .side-box a{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    text-decoration: none;
}
#slider .card .side-box a:hover{
    background-color: rgb(163, 151, 151);
}
#slider .card .side-box a img{
    width: 140px;
    height: 75px;
    box-shadow: 2px 2px 4px #000;
}
#slider .card .side-box h5{
    color: #000;
    font-size: 15px;
}

/*------------------life-style-blog----------------*/
#blog-one{
    margin-top: 30px;
    margin-bottom: 30px;
}
#blog-one .card{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2.5px solid #007bff;
}
#blog-one .blog-heder{
    color: #fff;
    background-color: #000;
    text-align: center;
}
#blog-one .blog-one-img{
    margin-top: 5px;
    width: 100%;
    height: 350px;
}
#blog-one .blog-one-body{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#blog-one .blog-one-body h2{
    color: #007bff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
#blog-one .blog-one-body p{
    font-size: 15px;
}
#blog-one .blog-one-body .card-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(218, 210, 210);
    color: #000;
}
#blog-one .btnone{
    color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
    background: #fff;
    border: 2.5px solid #007bff;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
#blog-one .btnone:hover{
    background: #007bff;
    color: #fff;
    border: 2.5px solid #fff;
    transition-duration: 2s;
}
#blog-one .side-box{
    margin-top: 20px;
    margin-bottom: 20px;
}
#blog-one .side-box a{
    display: flex;
    text-decoration: none;
}
#blog-one .side-box a:hover{
    background-color: rgb(163, 151, 151);
}
#blog-one .side-box h5{
    color: #000;
    font-size: 15px;
}
#blog-one .side-box a img{
    width: 140px;
    height: 75px;
    box-shadow: 2px 2px 4px #000;
}
#blog-one .btntwo{
    color: #007bff;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
    background: #fff;
    border: 2.5px solid #007bff;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
#blog-one .btntwo:hover{
    background: #007bff;
    color: #fff;
    border: 2.5px solid #fff;
    transition-duration: 2s;
}

/*------------footer-------------*/
#footer .footer-page{
    width: 100%;
    height: 400px;
    background: #c3dbf5;
}
#footer .footer-page .footer-about{
    padding-top: 50px;
    text-align: center;
}
#footer .footer-page .footer-about h2{
    color: #007bff;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 2px #000;
}
#footer .footer-page .footer-about p{
    padding-top: 10px;
    font-size: 14px;
    color: #000;
    font-style: italic;
}
#footer .footer-page .footer-contact span{
    margin-top: 10px;
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
}
#footer .footer-page .footer-contact i{
    color: #007bff;
    font-size: 1.5em;
}
#footer .footer-page .footer-social-link a{
    margin-top: 10px;
    border: 2px solid #007bff;
    width: 45px;
    height: 41px;
    padding-top: 2px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    background: #fff;
    font-size: 1.5em;
    border-radius: 5px;
}
#footer .footer-page .footer-social-link .fa-facebook{
    color: #3b5999;
}
#footer .footer-page .footer-social-link .fa-instagram{
    color: #e6683c;
}
#footer .footer-page .footer-social-link .fa-twitter{
    color: #00acee;
}
#footer .footer-page .footer-social-link .fa-youtube{
    color: red;
}
#footer .footer-page .footer-social-link a:hover{
    background: #007bff;
    color: #fff;
    border: 2.5px solid #fff;
    transition-duration: 2s;
}
#footer .footer-link{
    padding-top: 50px;
    text-align: center;
}
#footer .footer-link h2{
    color: #007bff;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000;
}
#footer .footer-link ul a{
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    list-style: none;
    text-decoration: none;
    background: #fff;
    border: 2px solid #007bff;
}
#footer .footer-link ul a:hover{
    background: #007bff;
    color: #fff;
    border: 2.5px solid #fff;
    transition-duration: 1s;
    margin-left: 10px;
    margin-right: 10px;
}
#footer .footer-contact-form{
    padding-top: 120px;
    text-align: center;
}
#footer .footer-contact-form .contact-input{
    background: #fff;
    color: #007bff;
    line-height: 1.5em;
    padding: .9rem 1.4rem;
    border: 3px solid #007bff;
}
#footer .footer-contact-form .contact-input:focus{
    background: #1a1a1a;
}
#footer .footer-contact-form .btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    color: #007bff;
    background: #fff;
    border: 2px solid #007bff;
    margin-bottom: 20px;
}
#footer .footer-contact-form .btn-big:hover{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    color: #fff;
    background: #007bff;
    border: 2px solid #fff;
    transition-duration: 2s;
}
#footer .footer-copy-right{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background: #007bff;
}

/*---------------blog-detail-page--------------*/
#blog-detail{
    margin-top: 30px;
    margin-bottom: 30px;
}
#blog-detail .back{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
#blog-detail .back a{
    text-decoration: none;
}
#blog-detail .back span{
    padding-left: 10px;
    padding-right: 10px;
}
#blog-detail h1{
    margin-bottom: 20px;
    text-align: left;
    color: #007bff !important;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
#blog-detail .blog-detail-img img{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 350px;
    box-shadow: 2px 2px 4px #000;
}
#blog-detail span a{
    margin-top: 10px;
    display: flex;
    text-decoration: none;
}
#blog-detail span img{
    width: 150px;
    height: 80px;
    box-shadow: 2px 2px 4px #000;
}
#blog-detail span h5{
    color: #000;
    font-size: 16px;
}
#blog-detail span a:hover,
 img:hover{
    background: #d8e9fa;
}
.comments h2{
    margin-bottom: 20px;
    text-align: left;
    color: #007bff !important;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
/*-----------------------blog-category------------------*/
#blog-category{
    margin-top: 30px;
    margin-bottom: 30px;
}
#blog-category .back{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
#blog-category .back a{
    text-decoration: none;
}
#blog-category .back span{
    padding-left: 10px;
    padding-right: 10px;
}
#blog-category .blog-category-img{
    width: 100%;
    height: 350px;
    box-shadow: 2px 2px 4px #000;
}
#blog-category .blog-category-body{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#blog-category .blog-category-body h3{
    margin-bottom: 20px;
    color: #007bff !important;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
#blog-category .blog-category-body p{
    padding-top: 10px;
    font-size: 15px;
    color: #000;
}
#blog-category .blog-category-body .card-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(218, 210, 210);
    color: #000;
}
#blog-category .blog-category-body .btncaty{
    color: #007bff;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
    background: #fff;
    border: 2.5px solid #007bff;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
#blog-category .blog-category-body .btncaty:hover{
    background: #007bff;
    color: #fff;
    border: 2.5px solid #fff;
    transition-duration: 2s;
}
#blog-category .category-box{
    margin-top: 20px;
    margin-bottom: 20px;
}
#blog-category .category-box a{
    display: flex;
    text-decoration: none;
}
#blog-category .category-box a:hover{
    background-color: rgb(163, 151, 151);
}
#blog-category .category-box h5{
    color: #000;
    font-size: 15px;
}
#blog-category .category-box a img{
    width: 140px;
    height: 75px;
    box-shadow: 2px 2px 4px #000;
}

/*-----------conatct html---------*/
#contact{
    background: #fff;
}
#contact h1{
    color: #007bff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
#contact h1::after{
    content: '';
    background: #007bff !important;
    display: block;
    height: 3px;
    width: 350px;
    margin: 20px auto 5px;
}
#contact .container{
    background-color: #dfe5eb;
    box-shadow: 0 0 10px #000;
}
#contact .contact-about h2{
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: #007bff;
    text-shadow: 1px 1px 2px #000;
}
#contact .contact-about p{
    text-align: center;
    padding-bottom: 30px;
    color: #000 !important;
    font-size: 15px;
}
#contact .contact-contact span{
    text-align: center;
    margin-top: 10px;
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
}
#contact .contact-contact i{
    color: #007bff;
    font-size: 1.5em;
}
#contact .contact-social-link{
    text-align: center;
}
#contact .contact-social-link a{
    margin-top: 30px;
    border: 2px solid #007bff;
    width: 45px;
    height: 41px;
    padding-top: 2px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    background: #fff;
    font-size: 1.5em;
    border-radius: 5px;
}
#contact .contact-social-link .fa-facebook{
    color: #3b5999;
}
#contact .contact-social-link .fa-instagram{
    color: #e6683c;
}
#contact .contact-social-link .fa-twitter{
    color: #00acee;
}
#contact .contact-social-link .fa-youtube{
    color: red;
}
#contact .contact-social-link a:hover{
    background: #007bff;
    color: #fff;
    border: 2.5px solid #fff;
    transition-duration: 2s;
}
#contact .signup-img img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 350px;
}
#contact .contact-form .btn-sub{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    color: #007bff;
    background: #fff;
    border: 2px solid #007bff;
    border-radius: 50px;
    margin-bottom: 20px;
}
#contact .contact-form .btn-sub:hover{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    color: #fff;
    background: #007bff;
    border: 2px solid #fff;
    border-radius: 50px;
    transition-duration: 2s;
}