{% extends "partials/base.html" %}
{% load static %}

{% block header %}
{% include "partials/header.html" %}
{% endblock header %}
    
{% block slider %}
{% include "partials/slider.html" %}
{% endblock slider %}

{% block life_blog %}
{% include "partials/life_blog.html" %}
{% endblock life_blog %}

{% block fashion_blog %}
{% include "partials/fashion_blog.html" %}
{% endblock fashion_blog %}

{% block travel_blog %}
{% include "partials/travel_blog.html" %}
{% endblock travel_blog %}

{% block fitness_blog %}
{% include "partials/fitness_blog.html" %}
{% endblock fitness_blog %}

{% block sport_blog %}
{% include "partials/sport_blog.html" %}
{% endblock sport_blog %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
    
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}